In [1]:
import pandas as pd

In [3]:
pd.read_excel("exel_sales.xlsx")

,Transaction_ID,Date,Product,Category,Quantity,Unit_Price,Customer_Name,Region,Sales_Channel,Payment_Type,Total_Sales
0,TN0001,2024-02-06,Camera,Electronics,7,337,Customer_10,North,Retail,Cash,2359
1,TN0002,2024-10-06,Headphones,Accessories,3,255,Customer_30,North,Online,Mobile Payment,765
2,TN0003,2024-12-14,Shoes,Fashion,2,353,Customer_46,North,Retail,Bank Transfer,706
3,TN0004,2024-10-28,Charger,Accessories,4,395,Customer_23,North,Wholesale,Mobile Payment,1580
4,TN0005,2024-06-29,Camera,Electronics,8,1180,Customer_32,North,Online,Credit Card,9440
...,...,...,...,...,...,...,...,...,...,...,...
295,TN0296,2024-06-15,Laptop,Electronics,8,959,Customer_13,North,Online,Credit Card,7672
296,TN0297,2024-03-31,Charger,Accessories,6,873,Customer_47,North,Retail,Credit Card,5238
297,TN0298,2024-07-20,Smartwatch,Wearables,7,1407,Customer_25,North,Retail,Credit Card,9849
298,TN0299,2024-12-11,Tablet,Electronics,3,1323,Customer_9,North,Wholesale,Mobile Payment,3969
299,TN0300,2024-01-19,Jacket,Fashion,1,612,Customer_4,North,Retail,Credit Card,612

In [5]:
pd.read_excel("exel_sales.xlsx",sheet_name="South")

,Transaction_ID,Date,Product,Category,Quantity,Unit_Price,Customer_Name,Region,Sales_Channel,Payment_Type,Total_Sales
0,TS0001,2024-01-25,Jacket,Fashion,4,175,Customer_36,South,Retail,Credit Card,700
1,TS0002,2024-03-19,Charger,Accessories,4,1090,Customer_33,South,Retail,Mobile Payment,4360
2,TS0003,2024-03-08,Jacket,Fashion,4,473,Customer_24,South,Retail,Bank Transfer,1892
3,TS0004,2024-06-21,Headphones,Accessories,8,220,Customer_39,South,Retail,Credit Card,1760
4,TS0005,2024-01-12,Phone,Electronics,6,143,Customer_34,South,Retail,Credit Card,858
...,...,...,...,...,...,...,...,...,...,...,...
295,TS0296,2024-08-10,Smartwatch,Wearables,2,379,Customer_17,South,Online,Cash,758
296,TS0297,2024-03-10,Jacket,Fashion,2,1118,Customer_23,South,Wholesale,Credit Card,2236
297,TS0298,2024-11-07,Charger,Accessories,3,579,Customer_32,South,Wholesale,Credit Card,1737
298,TS0299,2024-07-29,Phone,Electronics,8,691,Customer_10,South,Retail,Mobile Payment,5528
299,TS0300,2024-04-10,Shoes,Fashion,8,1161,Customer_10,South,Retail,Mobile Payment,9288

In [22]:
datas=pd.read_excel("exel_sales.xlsx",sheet_name=None)

In [11]:
type(datas)

dict

In [12]:
datas.keys()

dict_keys(['North', 'South', 'East', 'West'])

In [13]:
datas["West"]

,Transaction_ID,Date,Product,Category,Quantity,Unit_Price,Customer_Name,Region,Sales_Channel,Payment_Type,Total_Sales
0,TW0001,2024-05-02,Tablet,Electronics,6,608,Customer_48,West,Retail,Credit Card,3648
1,TW0002,2024-11-26,Backpack,Fashion,7,504,Customer_23,West,Retail,Mobile Payment,3528
2,TW0003,2024-10-24,Shoes,Fashion,7,1001,Customer_6,West,Wholesale,Mobile Payment,7007
3,TW0004,2024-06-26,Smartwatch,Wearables,2,991,Customer_13,West,Online,Mobile Payment,1982
4,TW0005,2024-03-03,Shoes,Fashion,4,1301,Customer_49,West,Wholesale,Credit Card,5204
...,...,...,...,...,...,...,...,...,...,...,...
295,TW0296,2024-01-01,Laptop,Electronics,3,74,Customer_29,West,Retail,Cash,222
296,TW0297,2024-03-01,Smartwatch,Wearables,3,1479,Customer_8,West,Online,Bank Transfer,4437
297,TW0298,2024-09-26,Camera,Electronics,8,703,Customer_37,West,Wholesale,Mobile Payment,5624
298,TW0299,2024-06-28,Camera,Electronics,2,128,Customer_49,West,Wholesale,Cash,256
299,TW0300,2024-08-11,Jacket,Fashion,2,1227,Customer_33,West,Retail,Cash,2454

In [ ]:
datas["North"] # and so on .....

,Transaction_ID,Date,Product,Category,Quantity,Unit_Price,Customer_Name,Region,Sales_Channel,Payment_Type,Total_Sales
0,TN0001,2024-02-06,Camera,Electronics,7,337,Customer_10,North,Retail,Cash,2359
1,TN0002,2024-10-06,Headphones,Accessories,3,255,Customer_30,North,Online,Mobile Payment,765
2,TN0003,2024-12-14,Shoes,Fashion,2,353,Customer_46,North,Retail,Bank Transfer,706
3,TN0004,2024-10-28,Charger,Accessories,4,395,Customer_23,North,Wholesale,Mobile Payment,1580
4,TN0005,2024-06-29,Camera,Electronics,8,1180,Customer_32,North,Online,Credit Card,9440
...,...,...,...,...,...,...,...,...,...,...,...
295,TN0296,2024-06-15,Laptop,Electronics,8,959,Customer_13,North,Online,Credit Card,7672
296,TN0297,2024-03-31,Charger,Accessories,6,873,Customer_47,North,Retail,Credit Card,5238
297,TN0298,2024-07-20,Smartwatch,Wearables,7,1407,Customer_25,North,Retail,Credit Card,9849
298,TN0299,2024-12-11,Tablet,Electronics,3,1323,Customer_9,North,Wholesale,Mobile Payment,3969
299,TN0300,2024-01-19,Jacket,Fashion,1,612,Customer_4,North,Retail,Credit Card,612

In [ ]:
# combinoing the data sets into 1 datasets

In [ ]:
#dicts ={"NAME":"ram","age":30,"address":"ktm"}

In [ ]:
#dicts.values

In [28]:
datass=list(datas.values())

In [36]:
final=pd.concat(datass,ignore_index=True)

In [37]:
final

,Transaction_ID,Date,Product,Category,Quantity,Unit_Price,Customer_Name,Region,Sales_Channel,Payment_Type,Total_Sales
0,TN0001,2024-02-06,Camera,Electronics,7,337,Customer_10,North,Retail,Cash,2359
1,TN0002,2024-10-06,Headphones,Accessories,3,255,Customer_30,North,Online,Mobile Payment,765
2,TN0003,2024-12-14,Shoes,Fashion,2,353,Customer_46,North,Retail,Bank Transfer,706
3,TN0004,2024-10-28,Charger,Accessories,4,395,Customer_23,North,Wholesale,Mobile Payment,1580
4,TN0005,2024-06-29,Camera,Electronics,8,1180,Customer_32,North,Online,Credit Card,9440
...,...,...,...,...,...,...,...,...,...,...,...
1195,TW0296,2024-01-01,Laptop,Electronics,3,74,Customer_29,West,Retail,Cash,222
1196,TW0297,2024-03-01,Smartwatch,Wearables,3,1479,Customer_8,West,Online,Bank Transfer,4437
1197,TW0298,2024-09-26,Camera,Electronics,8,703,Customer_37,West,Wholesale,Mobile Payment,5624
1198,TW0299,2024-06-28,Camera,Electronics,2,128,Customer_49,West,Wholesale,Cash,256
1199,TW0300,2024-08-11,Jacket,Fashion,2,1227,Customer_33,West,Retail,Cash,2454

In [38]:
final["Date"].info

<bound method Series.info of 0      2024-02-06
1      2024-10-06
2      2024-12-14
3      2024-10-28
4      2024-06-29
          ...
1195   2024-01-01
1196   2024-03-01
1197   2024-09-26
1198   2024-06-28
1199   2024-08-11
Name: Date, Length: 1200, dtype: datetime64[ns]>

In [39]:
final["Date"].dt.year

0       2024
1       2024
2       2024
3       2024
4       2024
        ...
1195    2024
1196    2024
1197    2024
1198    2024
1199    2024
Name: Date, Length: 1200, dtype: int32

In [43]:
final["month_name"]=final["Date"].dt.month_name()

In [44]:
final

,Transaction_ID,Date,Product,Category,Quantity,Unit_Price,Customer_Name,Region,Sales_Channel,Payment_Type,Total_Sales,month_name
0,TN0001,2024-02-06,Camera,Electronics,7,337,Customer_10,North,Retail,Cash,2359,February
1,TN0002,2024-10-06,Headphones,Accessories,3,255,Customer_30,North,Online,Mobile Payment,765,October
2,TN0003,2024-12-14,Shoes,Fashion,2,353,Customer_46,North,Retail,Bank Transfer,706,December
3,TN0004,2024-10-28,Charger,Accessories,4,395,Customer_23,North,Wholesale,Mobile Payment,1580,October
4,TN0005,2024-06-29,Camera,Electronics,8,1180,Customer_32,North,Online,Credit Card,9440,June
...,...,...,...,...,...,...,...,...,...,...,...,...
1195,TW0296,2024-01-01,Laptop,Electronics,3,74,Customer_29,West,Retail,Cash,222,January
1196,TW0297,2024-03-01,Smartwatch,Wearables,3,1479,Customer_8,West,Online,Bank Transfer,4437,March
1197,TW0298,2024-09-26,Camera,Electronics,8,703,Customer_37,West,Wholesale,Mobile Payment,5624,September
1198,TW0299,2024-06-28,Camera,Electronics,2,128,Customer_49,West,Wholesale,Cash,256,June
1199,TW0300,2024-08-11,Jacket,Fashion,2,1227,Customer_33,West,Retail,Cash,2454,August

In [48]:
final["Quater"]=final["Date"].dt.quarter

In [49]:
final

,Transaction_ID,Date,Product,Category,Quantity,Unit_Price,Customer_Name,Region,Sales_Channel,Payment_Type,Total_Sales,month_name,Quater
0,TN0001,2024-02-06,Camera,Electronics,7,337,Customer_10,North,Retail,Cash,2359,February,1
1,TN0002,2024-10-06,Headphones,Accessories,3,255,Customer_30,North,Online,Mobile Payment,765,October,4
2,TN0003,2024-12-14,Shoes,Fashion,2,353,Customer_46,North,Retail,Bank Transfer,706,December,4
3,TN0004,2024-10-28,Charger,Accessories,4,395,Customer_23,North,Wholesale,Mobile Payment,1580,October,4
4,TN0005,2024-06-29,Camera,Electronics,8,1180,Customer_32,North,Online,Credit Card,9440,June,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1195,TW0296,2024-01-01,Laptop,Electronics,3,74,Customer_29,West,Retail,Cash,222,January,1
1196,TW0297,2024-03-01,Smartwatch,Wearables,3,1479,Customer_8,West,Online,Bank Transfer,4437,March,1
1197,TW0298,2024-09-26,Camera,Electronics,8,703,Customer_37,West,Wholesale,Mobile Payment,5624,September,3
1198,TW0299,2024-06-28,Camera,Electronics,2,128,Customer_49,West,Wholesale,Cash,256,June,2
1199,TW0300,2024-08-11,Jacket,Fashion,2,1227,Customer_33,West,Retail,Cash,2454,August,3

In [54]:
pd.pivot_table(final,columns="month_name",values="Total_Sales",index="Category",aggfunc="sum")

month_name,April,August,December,February,January,July,June,March,May,November,October,September
Category,,,,,,,,,,,,
Accessories,83132,92419,53534,82764,56690,54577,52312,72336,70571,95967,72061,56940
Electronics,196249,157291,176900,152918,159406,158522,193796,176735,138846,110478,159020,192824
Fashion,149736,91035,80786,90424,112986,115147,110186,75628,142926,154270,129977,113204
Wearables,37617,56771,37885,55978,27599,41927,19020,36101,37146,29645,21818,35503

In [55]:
final[(final["Category"]=="Accessories") & (final["month_name"]=="April")]["Total_Sales"].sum()

np.int64(83132)

In [58]:
dfs=pd.pivot_table(final,columns="month_name",values="Total_Sales",index=["Category","Product"],aggfunc="sum")

In [59]:
dfs

month_name              April  August  December  February  January   July  \
Category    Product
Accessories Charger     37290   30857     16400     48281    24250  27860
            Headphones  45842   61562     37134     34483    32440  26717
Electronics Camera      41456   41278     41891     18999    49983  82412
            Laptop      61442   23212     63908     36438    30926  35193
            Phone       34054   58634     11142     58526    38665  19255
            Tablet      59297   34167     59959     38955    39832  21662
Fashion     Backpack    77212   25836     20277     30793    27324  44050
            Jacket      19661   23120     18176     34027    54342  26732
            Shoes       52863   42079     42333     25604    31320  44365
Wearables   Smartwatch  37617   56771     37885     55978    27599  41927

month_name               June  March    May  November  October  September
Category    Product
Accessories Charger     26773  36731  36794     47039    34000      31168
            Headphones  25539  35605  33777     48928    38061      25772
Electronics Camera      61995  35855  15641     20375    43296      43661
            Laptop      59880  52075  25440     24038    43286      43939
            Phone       30793  34195  23108     36566    47062      48062
            Tablet      41128  54610  74657     29499    25376      57162
Fashion     Backpack    48678  27765  16384     40620    19108      24704
            Jacket      34797  31067  47284     76606    53740      73765
            Shoes       26711  16796  79258     37044    57129      14735
Wearables   Smartwatch  19020  36101  37146     29645    21818      35503

In [72]:
dataset=dfs.reset_index()

In [73]:
dataset

month_name,Category,Product,April,August,December,February,January,July,June,March,May,November,October,September
0,Accessories,Charger,37290,30857,16400,48281,24250,27860,26773,36731,36794,47039,34000,31168
1,Accessories,Headphones,45842,61562,37134,34483,32440,26717,25539,35605,33777,48928,38061,25772
2,Electronics,Camera,41456,41278,41891,18999,49983,82412,61995,35855,15641,20375,43296,43661
3,Electronics,Laptop,61442,23212,63908,36438,30926,35193,59880,52075,25440,24038,43286,43939
4,Electronics,Phone,34054,58634,11142,58526,38665,19255,30793,34195,23108,36566,47062,48062
5,Electronics,Tablet,59297,34167,59959,38955,39832,21662,41128,54610,74657,29499,25376,57162
6,Fashion,Backpack,77212,25836,20277,30793,27324,44050,48678,27765,16384,40620,19108,24704
7,Fashion,Jacket,19661,23120,18176,34027,54342,26732,34797,31067,47284,76606,53740,73765
8,Fashion,Shoes,52863,42079,42333,25604,31320,44365,26711,16796,79258,37044,57129,14735
9,Wearables,Smartwatch,37617,56771,37885,55978,27599,41927,19020,36101,37146,29645,21818,35503

In [80]:
dataset["dataset_final"]=dataset.iloc[:,2:].sum(axis=1)

In [79]:
dataset_final

0    397443
1    445860
2    496842
3    499777
4    440062
5    536304
6    402751
7    493317
8    470237
9    437010
dtype: int64

In [81]:
dataset

month_name,Category,Product,April,August,December,February,January,July,June,March,May,November,October,September,dataset_final
0,Accessories,Charger,37290,30857,16400,48281,24250,27860,26773,36731,36794,47039,34000,31168,397443
1,Accessories,Headphones,45842,61562,37134,34483,32440,26717,25539,35605,33777,48928,38061,25772,445860
2,Electronics,Camera,41456,41278,41891,18999,49983,82412,61995,35855,15641,20375,43296,43661,496842
3,Electronics,Laptop,61442,23212,63908,36438,30926,35193,59880,52075,25440,24038,43286,43939,499777
4,Electronics,Phone,34054,58634,11142,58526,38665,19255,30793,34195,23108,36566,47062,48062,440062
5,Electronics,Tablet,59297,34167,59959,38955,39832,21662,41128,54610,74657,29499,25376,57162,536304
6,Fashion,Backpack,77212,25836,20277,30793,27324,44050,48678,27765,16384,40620,19108,24704,402751
7,Fashion,Jacket,19661,23120,18176,34027,54342,26732,34797,31067,47284,76606,53740,73765,493317
8,Fashion,Shoes,52863,42079,42333,25604,31320,44365,26711,16796,79258,37044,57129,14735,470237
9,Wearables,Smartwatch,37617,56771,37885,55978,27599,41927,19020,36101,37146,29645,21818,35503,437010

In [ ]:
dataset.iloc[:,2:].sum(axis=1) #row wise

0     794886
1     891720
2     993684
3     999554
4     880124
5    1072608
6     805502
7     986634
8     940474
9     874020
dtype: int64

In [ ]:
dataset.iloc[:,2:].sum(axis=0) #columns wise

month_name
April             466734
August            397516
December          349105
February          382084
January           356681
July              370173
June              375314
March             360800
May               389489
November          390360
October           382876
September         398471
dataset_final    4619603
dtype: int64

In [84]:
# functions to add  the grand tolal in each category

In [ ]:
# def add_subtotals(dataset):
#     subtotal=dataset.iloc[:,2:].sum()
#     subtotal["Category"]="Total"
#     subtotal["Product"]="Total"
#     return pd.concat([dataset,pd.DataFrame([subtotal1])],ignore_index=True)

In [ ]:
# x = 2
# y =3
# print(x % y)

2

In [ ]:
# a = [1,2]
# b = [3,4]
# for i in a:
#     for x , y in zip(a,b):
#         print(i + x + y)

5
7
6
8